@template(Array("../../../public/stylesheets/landing.css")){
    <table class="table table-responsive table-hover darkbg">
        <thead class="text-center">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Canteen</th>
                <th scope="col">Dish</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody class="align-middle text-center">
            @*<tr>
                <th scope="row">1</th>
                <td>@user.getUsername</td>
                <td>@canteen.getName</td>
                <td>@dish.getName</td>
                <td>@menu.getDate</td>
            </tr>*@
        </tbody>
    </table>
}