@template(Array("../../../public/stylesheets/landing.css")){
    <table class="table table-responsive table-hover darkbg">
        <thead class="text-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Canteen</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody class="align-middle text-center">
            <tr>
                <th scope="row">1</th>
                @*<td>@slot.user.getUsername</td>
                <td>@slot.canteen.getName</td>
                <td>@slot.getDate</td>*@
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Gonçalo Queiroz</td>
                <td>Southy</td>
                <td>24/02/2023</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Gonçalo Queiroz</td>
                <td>Southy</td>
                <td>24/02/2023</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Gonçalo Queiroz</td>
                <td>Southy</td>
                <td>24/02/2023</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Gonçalo Queiroz</td>
                <td>Southy</td>
                <td>24/02/2023</td>
            </tr>
        </tbody>
    </table>
}