<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="text-white col-xl-4 d-flex mx-auto justify-content-center">
                <a style="text-decoration: none;
                    font-size: 12px" class="text-white px-4" href="#termsofuse">Terms Of Use</a>
                <a style="text-decoration: none;
                    font-size: 12px" class="text-white px-4" href="#privacypolicy">Privacy Policy</a>
            </div>
        </div>
        <div class="row">
            <div style="font-size: 12px" class="text-white d-flex justify-content-center">
                @*TODO GET CURRENT YEAR*@
            <p>Copyright 2023. cantini. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>