<header class="header-menu">
    <nav class="navbar navbar-dark navbar-expand-lg bg-black">
        @*o fluid tira o espaço da margem entre o limite da tela e do logo*@
    <div class="container-fluid">
        <a style="padding-left: 80px" class="navbar-brand" href="/">
            <img src="@routes.Assets.at("images/logo.png")" class="img-fluid" alt="logo" width="200px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span style="color: white" class="navbar-toggler-icon"></span>
        </button>
        <div style="padding-right: 80px" class="collapse navbar-collapse align-items-center justify-content-center" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link px-3" aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#tickets">Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3" href="#wallet">Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#profile">Profile</a>
                </li>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="@routes.Assets.at("images/white_settings.png")" class="img-fluid" alt="settings" width="30px">
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end bg-dark" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item" href="#">Language</a>
                        <a class="dropdown-item" href="#">Dark Mode</a>
                        <a class="dropdown-item" href="#">Help</a>
                        <a class="dropdown-item" href="#">Terms of Use</a>
                        <a class="dropdown-item" href="#">Privacy Policy</a>
                    </div>
                </div>
                <script>
                            const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
                            const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new bootstrap.Dropdown(dropdownToggleEl))
                </script>
            </ul>
        </div>
    </div>
    </nav>
</header>