@template(Array("../../../../public/stylesheets/landing.css")){

    <main>
        <div class="row principal-container">
            <div class="col-md-7 d-flex justify-content-center">
                <img src="@routes.Assets.at("../../../../public/images/manager.png")" class="img-fluid" alt="landing" width="600px">
            </div>
            <div class="col-md-4 justify-content-center">
                <div class="text-white justify-content-start">
                    <div class="col-12 text-center form-control-sm pb-3">
                        <button class="btn btn-form">Create Canteen</button>
                    </div>
                    <div class="col-12 text-center form-control-sm pb-3">
                        <button class="btn btn-form">Manage Menus</button>
                    </div>
                    <div class="col-12 text-center form-control-sm">
                        <button class="btn btn-form">Manage Tickets</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

}