@template(Array("../../../public/stylesheets/landing.css", "../../../public/stylesheets/home.css")) {
    <table class="table table-responsive table-hover darkbg">
        <thead class="text-center">
            <tr>
                <th scope="col">Canteen</th>
                <th scope="col">Menu</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="align-middle text-center">
            <tr>
                <td>Arconia</td>
                <td>Carbonara</td>
                <td>23/02/2023</td>
                <td><a class="btn btn-remove px-4" type="submit" href="#">Remove</a></td>
            </tr>
            <tr>
                <td>Arconia</td>
                <td>Carbonara</td>
                <td>23/02/2023</td>
                <td><a class="btn btn-remove px-4" type="submit" href="#">Remove</a></td>
            </tr>
            <tr>
                <td>Arconia</td>
                <td>Carbonara</td>
                <td>23/02/2023</td>
                <td><a class="btn btn-remove px-4" type="submit" href="#">Remove</a></td>
            </tr>
            <tr>
                <td>Arconia</td>
                <td>Carbonara</td>
                <td>23/02/2023</td>
                <td><a class="btn btn-remove px-4" type="submit" href="#">Remove</a></td>
            </tr>
            <tr>
                <td>Arconia</td>
                <td>Carbonara</td>
                <td>23/02/2023</td>
                <td><a class="btn btn-remove px-4" type="submit" href="#">Remove</a></td>
            </tr>
        </tbody>
    </table>
}