@(canteen : Canteen)
<div class="col-md-5 my-auto cards">
    <div class="row">
        <div style="background-color: white" class="card">
            <div class="card-body">
                <div class="row d-flex align-items-center">
                    <div class="col-md-3 ms-4">
                        <h1 class="txtred">@* @Dish.getType(1) *@</h1>
                    </div>
                    <div class="col-md-8">
                        <h4 class="txtblack" style="margin: 10px 0px 20px 0px">@* @Dish.getDishById(1) *@ </h4>
                        @*                                        <p>@Dish.getDescription(1) </p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>