@template(Array("stylesheets/canteen.css")) {

    <div class="row w-75 d-flex mx-auto justify-content-center pt-2">
        <div class="col-xl-12 cards pb-4">
            <div style="background-color: #131313" class="card">
                <img src="@routes.Assets.at("images/canteenno1.jpg")" class="card-img-top" alt="northy">
                <div class="card-body">
                    <h5 class="card-title">Northy</h5>
                    <p style="font-size: 12px" class="card-text text-white">University Of Worldy, Building 1 - Floor 2</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row w-75 d-flex mx-auto justify-content-end py-5">
        <div class="col-xl-4 cards pb-4">
            <div style="background-color: #131313" class="card">
                <div class="card-body">
                    <h5 class="card-title pb-2">Create menu</h5>
                    <div class="form-outline pb-3">
                        <textarea class="form-control" placeholder="Insert the menu of the day" id="textAreaExample" rows="4"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-small" href="#">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


}