@template(Array("stylesheets/landing.css", "stylesheets/home.css")) {

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-10">
            <div class="card text-white shadow-0 border darkdarkbg mb-5">
                <div class="d-flex justify-content-center mt-4 mb-2">
                    <h1 style="color: #B87651">Help</h1>
                </div>
                <div class="ms-5 mb-3 me-5">
                    <p>Welcome to the help section of our website. If you are experiencing a problem or have a question, you may find the answer here:</p>

                    <h4 style="color: #B87651">Frequently Asked Questions</h4>

                    <ul>
                        <li><strong>How do I create an account?</strong><br>To create an account, click on the "Sign Up" button and follow the prompts.</li>
                        <li><strong>How do I place an order?</strong><br>To place an order, add items to your cart and then click on the "Checkout" button to complete the process.</li>
                        <li><strong>How do I contact customer service?</strong><br>You can contact customer service by emailing [email address] or by calling [phone number].</li>
                    </ul>

                    <h4 style="color: #B87651">Additional Resources</h4>

                    <p>For more information, you can consult our [terms of use] and [privacy policy]. If you cannot find the answer to your question, you can also contact us directly for assistance.</p>
                </div>
            </div>
        </div>
    </div>

}