@template(Array("stylesheets/landing.css", "stylesheets/home.css")) {

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-10">
            <div class="card text-white shadow-0 border darkdarkbg mb-5">
                <div class="d-flex justify-content-center mt-4 mb-2">
                    <h1 style="color: #B87651">Terms of Use</h1>
                </div>
                <div class="ms-5 mb-3">
                <p>Welcome to our website! By using our site, you agree to the following terms of use:</p>
                <ul>
                    <li>You must be at least 16 years old to use our site.</li>
                    <li>You may not use our site for any illegal or inappropriate activities.</li>
                    <li>We reserve the right to modify or terminate our site at any time without notice.</li>
                </ul>
            </div>
        </div>
    </div>


}