@template(Array("../../../public/stylesheets/landing.css")){

    <main>
        @*align-items: alinha verticalmente*@
        @*justify-content: alinha horizontalmente*@
        <section class="home d-flex align-items-center h-100" id="home">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-7 justify-content-end">
                        <img src="@routes.Assets.at("images/adm.png")" class="img-fluid" alt="landing" width="500px">
                    </div>
                    <div class="col-md-5 d-flex justify-content-start">
                        <div class="card-container text-white">
                            <div class="form-control-sm text-white textfield pb-3">
                                <input type="text" name="canteensname" placeholder="Canteen's name">
                            </div>
                            <div class="form-control-sm text-white textfield pb-3">
                                <input type="text" name="adress" placeholder="Adress">
                            </div>
                            <div class="col-12 text-center form-control-sm">
                                <button class="btn btn-form">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

}