@template(Array("stylesheets/landing.css")) {
    <table class="table table-responsive table-hover darkbg">
        <thead class="text-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="align-middle text-center">
            <tr>
                <th scope="row">1</th>
                <td>Gonçalo Queiroz</td>
                <td>Manager</td>
                <td>
                    <a class="btn btn-approve" type="submit" href="#">Approve</a>
                    <a class="btn btn-remove" type="submit" href="#">Deny</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Gonçalo Queiroz</td>
                <td>Manager</td>
                <td>
                    <a class="btn btn-approve" type="submit" href="#">Approve</a>
                    <a class="btn btn-remove" type="submit" href="#">Deny</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Gonçalo Queiroz</td>
                <td>Manager</td>
                <td>
                    <a class="btn btn-approve" type="submit" href="#">Approve</a>
                    <a class="btn btn-remove" type="submit" href="#">Deny</a>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Gonçalo Queiroz</td>
                <td>Manager</td>
                <td>
                    <a class="btn btn-approve" type="submit" href="#">Approve</a>
                    <a class="btn btn-remove" type="submit" href="#">Deny</a>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Gonçalo Queiroz</td>
                <td>Manager</td>
                <td>
                    <a class="btn btn-approve" type="submit" href="#">Approve</a>
                    <a class="btn btn-remove" type="submit" href="#">Deny</a>
                </td>
            </tr>
        </tbody>
    </table>
}