@(users: java.util.List[models.User], r: play.mvc.Http.Request)
@template(Array("stylesheets/landing.css")) {
    <table class="table table-responsive table-hover darkbg">
        <thead class="text-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="align-middle text-center">
        @if(!users.isEmpty) {
            @for(user <- users) {
                <tr>
                    <th>@user.getId</th>
                    <td>@user.getUsername</td>
                    <td>@user.getEmail</td>
                    <td>
                        @* @if(!user.getRoles.isEmpty) {
                        @for(roles <- user.getRoles) {
                        }
                        } *@
                    </td>
                    <td>@user.getStatus</td>
                    <td>
                        <form action="@controllers.routes.Administrator.approveUser(user.getId())" method="post">
                            @helper.CSRF.formField(r.asScala)
                        <div class="d-flex justify-content-center">
                            <button name="appbtn" type="submit" class="btn btn-approve">Approve</button>
                        </div>
                        </form>
                        <form action="@controllers.routes.Administrator.denyUser(user.getId())" method="post">
                            @helper.CSRF.formField(r.asScala)
                        <div class="d-flex justify-content-center">
                            <button name="rembtn" type="submit" class="btn btn-remove">Deny</button>
                        </div>
                        </form>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}