@(users: java.util.List[User])
@template(Array("stylesheets/landing.css")){
    <table class="table table-responsive table-hover darkbg">
    @if(!users.isEmpty) {
        @for(user <- users) {
            <thead class="text-center">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody class="align-middle text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>Gonçalo Queiroz</td>
                    <td>Manager</td>
                    <td><a class="btn btn-remove px-4" type="submit" href="#">Remove</a></td>
                    <form action="@controllers.routes.Administrator.removeUser(user.getId())" method="post">
                        <div class="d-flex justify-content-center flex-grow-1 mt-3">
                            <button name="userId" type="submit" class="btn btn-sm btn-dark">Remove Item</button>
                        </div>
                    </form>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Gonçalo Queiroz</td>
                    <td>Manager</td>
                    <td><a class="btn btn-remove" type="submit" href="#">Remove</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Gonçalo Queiroz</td>
                    <td>Manager</td>
                    <td><a class="btn btn-remove" type="submit" href="#">Remove</a></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Gonçalo Queiroz</td>
                    <td>Manager</td>
                    <td><a class="btn btn-remove" type="submit" href="#">Remove</a></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Gonçalo Queiroz</td>
                    <td>Manager</td>
                    <td><a class="btn btn-remove" type="submit" href="#">Remove</a></td>
                </tr>
            </tbody>
        }
    }
    </table>
}