@template(Array("stylesheets/landing.css", "stylesheets/home.css")){

        <main class="container-menu">
            <section class="canteens mb-5 pb-5" id="canteens">
                <div class="container">
                    <h2 class="text-white text-left pt-5 pb-3">Hungry? <br> Get some food!</h2>
                    <p style="color: #B87651" class="text-left">Check out our canteens near you:</p>
                </div>
                <div class="row w-75 d-flex mx-auto justify-content-center pt-2">
                    <div class="col-xl-3 cards pb-4">
                        <div style="background-color: #131313" class="card">
                            <img src="@routes.Assets.at("images/t6.jpg")" class="card-img-top" alt="northy">
                            <div class="card-body">
                                <h5 class="card-title">Northy</h5>
                                <p style="font-size: 12px" class="card-text text-white">Vegan canteen with greeny environment.</p>
                                <a href="/northycanteen" class="btn btn-brown d-flex ms-auto">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 cards pb-4">
                        <div style="background-color: #131313" class="card">
                            <img src="@routes.Assets.at("images/cwesty.png")" class="card-img-top" alt="westy">
                            <div class="card-body">
                                <h5 class="card-title">Westy</h5>
                                <p style="font-size: 12px" class="card-text text-white">Grilly canteen with fresh meat.</p>
                                <div style="padding: 10px" class="d-flex flex-column justify-content-end flex-grow-1">
                                    <a href="/westycanteen" class="btn btn-brown d-flex ms-auto">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 cards pb-4">
                        <div style="background-color: #131313" class="card">
                            <img src="@routes.Assets.at("images/ceasty.jpg")" class="card-img-top" alt="easty">
                            <div class="card-body">
                                <h5 class="card-title">Easty</h5>
                                <p style="font-size: 12px" class="card-text text-white">Asiatic canteen.</p>
                                <a href="/eastycanteen" class="btn btn-brown d-flex ms-auto">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 cards pb-4">
                        <div style="background-color: #131313" class="card">
                            <img src="@routes.Assets.at("images/t1.jpg")" class="card-img-top" alt="southy">
                            <div class="card-body">
                                <h5 class="card-title">Southy</h5>
                                <p style="font-size: 12px" class="card-text text-white">Mediterranic canteen. Taste a giant amount of flavours</p>
                                <a href="/southycanteen" class="btn btn-brown d-flex ms-auto">Go</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
}