@(canteens : java.util.List[Canteen])
@template(Array("stylesheets/landing.css", "stylesheets/home.css")){

        <main class="container-menu">
            <section class="canteens mb-5 pb-5" id="canteens">
                <div class="container">
                    <h2 class="text-white text-left pt-5 pb-3">Hungry? <br> Get some food!</h2>
                    <p style="color: #B87651" class="text-left">Check out our canteens near you:</p>
                </div>
                <div class="row w-75 d-flex mx-auto mt-2">
                    @for(canteen <- canteens){
                        @Templates.canteenCard(canteen)
                    }
                </div>
            </section>
        </main>
}