@template(Array("stylesheets/landing.css")){

        <main>
            @*align-items: alinha verticalmente*@
            @*justify-content: alinha horizontalmente*@
        <section class="home d-flex align-items-center h-100" id="home">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-4">
                        <h1 class="text-white">THE BEST FOOD <br> FOR YOU!</h1>
                        <p class="text-white pb-3">We have several canteens that are <br>
                            <strong> accessible to everyone. </strong>
                            <br> Explore our canteens and check out their menus.
                        </p>
                        <div style="padding-left: 40px">
                            <a class="btn btn-small" href="/login">Login</a>
                            <a class="btn btn-small ms-lg-4" href="/signup">Sign Up</a>
                        </div>
                    </div>
                    <div class="landing-img col-xl-8 d-flex justify-content-end">
                        <img src="@routes.Assets.at("images/landing.png")" class="img-fluid" alt="landing">
                    </div>
                </div>
            </div>
        </section>
        </main>

}