@template(Array("stylesheets/landing.css")){

        <form method="post" action="recoverpasswordProcess">
            <div class="row principal-container">
                <div class="col-7 d-none d-md-block text-center">
                    <img src="@routes.Assets.at("images/passwordreset.png")" class="img-fluid" alt="login" width="500px">
                </div>
                <div class="col-sm-12 col-md-4 justify-content-center">
                    <div class="text-white card-container">
                        <h2>Password Reset</h2>
                        <p style="font-size: 14px" class="text-center text-muted pt-3 pb-3">Enter the email address you used
                            to sign up to Cantini. <br> We will send you a link to reset your password.
                        </p>
                        <div class="form-control-sm textfield pb-4">
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-control-sm textfield pb-3">
                            <button class="btn-form">Send password reset email</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
}