<!DOCTYPE html>
<html lang="en">
    <navbar>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cantini | SignUp</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@@1.10.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/landing.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/styles.css")"/>
    </navbar>

    <header class="header-menu">
        <nav class="navbar navbar-expand-lg bg-black">
            @*o fluid tira o espaço da margem entre o limite da tela e do logo*@
        <div class="container-fluid">
            <a style="padding-left: 80px" class="navbar-brand" href="/">
                <img src="@routes.Assets.at("images/logo.png")" class="img-fluid" alt="logo" width="200px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span style="color: white" class="navbar-toggler-icon"></span>
            </button>
            <div style="padding-right: 80px" class="collapse navbar-collapse align-items-center justify-content-center" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white px-3" aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white px-3" href="#tickets">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white px-3" href="#wallet">Wallet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#profile">Profile</a>
                    </li>
                    <a style="padding-left: 20px" class="navbar-brand">
                        <img src="@routes.Assets.at("images/white_settings.png")" class="img-fluid" alt="logo" width="30px">
                    </a>
                </ul>
            </div>
        </div>
        </nav>
    </header>


    <body style="background: black">
        <form method="post" action="signupProcess">
            <div class="row principal-container">
                <div class="col-7 d-none d-md-block text-center">
                    <img src="@routes.Assets.at("images/signup.png")" class="img-fluid" alt="login" width="500px">
                </div>
                <div class="col-sm-12 col-md-5 justify-content-center">
                    <div class="text-white card-container justify-content-start">
                        <h2 class="pb-3">SignUp</h2>
                        <div class="form-control-sm text-white textfield pb-3">
                            <input type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-control-sm text-white textfield pb-3">
                            <input type="email" name="email" placeholder="E-mail">
                        </div>
                        <div class="form-control-sm text-white textfield pb-5">
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-control-sm textfield pb-4">
                            <button class="btn-form">Register</button>
                        </div>

                        <p style="font-size: 12px" class="text-center text-muted pb-4">By signing up, you agree to our
                            <a class="text-white" style="text-decoration: none;
                                font-size: 12px" href="#termsofuse">Terms Of Use</a>
                            <br> and
                            <a class="text-white" style="text-decoration: none;
                                font-size: 12px" href="#privacypolicy">Privacy Policy</a>
                        </p>

                        <p style="font-size: 15px" class="text-center text-muted mt-0 mb-0">Already have an account?
                            <a href="/login" class="fw-bold text-white">Login</a> </p>
                    </div>
                </div>
            </div>
        </form>
    </body>


    <footer class="footer" id="footer">
        <div class="container pb-2">
            <div class="row">
                <div class="text-white col-xl-4 d-flex mx-auto justify-content-center">
                    <a style="text-decoration: none;
                        font-size: 12px" class="text-white px-4" href="#termsofuse">Terms Of Use</a>
                    <a style="text-decoration: none;
                        font-size: 12px" class="text-white px-4" href="#privacypolicy">Privacy Policy</a>
                </div>
            </div>
            <div class="row">
                <div style="font-size: 12px" class="text-white d-flex justify-content-center">
                    @*TODO GET CURRENT YEAR*@
                <p>Copyright 2023. cantini. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</html>